
.SeccionPorta{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SeccionPortada{
    width: 90%;
    height: 75vh;
    background-image: url(../images/MCHOSE_Ace_68_Turbo_banner.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 30px;
    background-color: blue  ;
}
.SeccionPortada img{
    width: 200px;
    height: 220px;
}
.SeccionPortada h2{
    font-size: 14vw;
    font-family: BebasKai;
}.SeccionPortada h2 ~ p{
    font-size: 1.7vw;
    font-family: Bebaskai;
}
.sobremi{
    width: 90%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mitaduno{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding: 50px;
}
.mitaduno h3{
    font-size: 120px;
    font-family: BebasKai;
    color: rgb(9, 9, 116);
    transition: transform 0.3s ease;
}
.mitaduno p{
    font-family: BebasKai;
    opacity: 80%;
    font-size: 20px;
}
.mitaddos{
    width: calc(100% / 2);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}
.imagensobremi{
    width: 90%;
    height: 90%;
    background-image:url(../images/aboutus/Perfil.jpg) ;
    filter: contrast(120%);
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.tabla_nose{
    width: 90%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.mitaduno_uno{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mitaddos_dos{
    width: 50%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    font-family: BebasKai;
}
.mitaddos_dos h3{
    font-size: 120px;
    color: rgb(9, 9, 116);
    
}
.mitaddos_dos p{
    opacity: 80%;
    font-size: 20px;
}
.tablita{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.tablita table{
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}
.tablita table td{
    text-align: center;
    font-family: BebasKai;
    font-size: 20px;
}