@font-face {
    font-family: "BebasKai";
    src: url(fonts/BebasKai.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
header{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: white;
}
nav{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: white;
}
.img-container{
    width: 10rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.img-container img{
    width: 100%;
    height:100%;
}
.medio{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.medio ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.medio li{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-family: BebasKai;
}
.medio a{
    text-decoration: none;
    color: black;
    transition: 2s ease;
    position: relative;
}

.medio a::after{
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0%;
      height: 2px;
      background: #333;
      transition: 0.3s ease;
}

.medio a:hover::after {
      width: 100%;
}

.final{
    width: 10rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.final a{
    width: fit-content;
    height: fit-content;
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.final a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.SeccionPorta{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SeccionPortada{
     width: 90%;
    height: 75vh;
    background-image: url(../images/MCHOSE_Ace_68_Turbo_banner.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.SeccionPortada img{
    width: 200px;
    height: 220px;
}
.SeccionPortada h2{
    font-size: 14vw;
    font-family: BebasKai;
}.SeccionPortada h2 ~ p{
    font-size: 1.7vw;
    font-family: Bebaskai;
}
.SeccionUno{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-family: BebasKai;
}
.SeccionUno .textoSeccionUno{
    width: 80%;
    height: 20vh;
    color: rgb(19, 18, 18);
    margin-top: 40px;
    
}
.SeccionUno h3{
    font-size: 70px;
    text-decoration: underline;
    font-weight: normal;
}
.SeccionUno h3 ~ p{
    width: 60%;
    font-size: 18px;
}