
.SeccionPorta{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SeccionPortada{
    width: 90%;
    height: 75vh;
    background-image: url(../images/discounts/Banner.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 30px;
}
.SeccionPortada img{
    width: 200px;
    height: 220px;
}
.SeccionPortada h2{
    font-size: 14vw;
    font-family: BebasKai;
}.SeccionPortada h2 ~ p{
    font-size: 1.7vw;
    font-family: Bebaskai;
}
.SeccionUno{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: BebasKai;
}
.SeccionUno .textoSeccionUno{
    width: 90%;
    height: 20%;
    color: rgb(19, 18, 18);
    margin-top: 40px;
}
.SeccionUno h3{
    font-size: 70px;
    text-decoration: underline;
    font-weight: normal;
}
.SeccionUno h3 > p{
    width: 60%;
    font-size: 18px;
}
.SeccionUnoImagen{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.imagenUno, .imagenDos, .imagenTres{
    background-color: white;
    width: 30%;
    height: 100%;
}
.imagenDos div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/MechanicalKeyboard_2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenDos div p{
    opacity: 0;
}
.imagenUno div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/MechanicalKeyboard_1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenUno div p{
    opacity: 0;
}
.linkeando{
    text-decoration: none;
    color: white;
    transition: 0.4s;
}
.linkeando > div{
    transition: all 0.5s ease;
    transition-duration: 0.3s;
    transform: translateY(-10px);
    opacity: 100%;
}
.linkeando:hover > div p{
    opacity: 100%;
} 
.imagenTres div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/MechanicalKeyboard_3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenTres div p{
    opacity: 0%;
}

/*PARTE DOS*/

.imagenUno_dos, .imagenDos_dos, .imagenTres_dos{
    background-color: white;
    width: 30%;
    height: 100%;
}
.imagenDos_dos div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/OpticalKeyboard_2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenDos_dos div p{
    opacity: 0;
}
.imagenUno_dos div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/OpticalKeyboard_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenUno_dos div p{
    opacity: 0;
}
.imagenTres_dos div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/OpticalKeyboard_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenTres_dos div p{
    opacity: 0%;
}

/*PARTE TRES*/

.imagenUno_tres, .imagenDos_tres, .imagenTres_tres{
    background-color: white;
    width: 30%;
    height: 100%;
}
.imagenDos_tres div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/MagneticKeyboard_2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenDos_tres div p{
    opacity: 0;
}
.imagenUno_tres div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/MagneticKeyboard_1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenUno_tres div p{
    opacity: 0;
}
.imagenTres_tres div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/MagneticKeyboard_3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenTres_tres div p{
    opacity: 0%;
}







