
.SeccionPorta{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SeccionPortada{
    width: 90%;
    height: 75vh;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: url(../images/headset/Banner.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.SeccionPortada img{
    width: 200px;
    height: 220px;
}
.SeccionPortada h2{
    font-size: 14vw;
    font-family: BebasKai;
}.SeccionPortada h2 ~ p{
    font-size: 1.7vw;
    font-family: Bebaskai;
}
.SeccionUno{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-family: BebasKai;
}
.SeccionUno .textoSeccionUno{
    width: 80%;
    height: 20vh;
    color: rgb(19, 18, 18);
    margin-top: 40px;
    
}
.SeccionUno h3{
    font-size: 70px;
    text-decoration: underline;
    font-weight: normal;
}
.SeccionUno h3 ~ p{
    width: 60%;
    font-size: 18px;
}

.SeccionUno{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: BebasKai;
}
.SeccionUno .textoSeccionUno{
    width: 90%;
    height: 20%;
    color: rgb(19, 18, 18);
    margin-top: 40px;
}
.SeccionUno h3{
    font-size: 70px;
    text-decoration: underline;
    font-weight: normal;
}
.SeccionUno h3 > p{
    width: 60%;
    font-size: 18px;
}
.SeccionUnoImagen{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.imagenUno, .imagenDos, .imagenTres{
    background-color: white;
    width: 30%;
    height: 100%;
}
.imagenDos div{
    background-image: url(../images/headset/Headset_1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagenDos div p{
    opacity: 0;
}
.imagenUno div{
    background-image: url(../images/headset/Headset_2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagenUno div p{
    opacity: 0;
}
.linkeando{
    text-decoration: none;
    color: white;
    transition: 0.4s;
}
.linkeando > div{
    transition: all 0.5s ease;
    transition-duration: 0.3s;
    transform: translateY(-10px);
}
.linkeando:hover > div{
    opacity: 100%;
}
.linkeando:hover > div p{
    opacity: 100%;
} 
.imagenTres div{
    background-image: url(../images/headset/Headset_3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagenTres div p{
    opacity: 0%;
}

/*PARTE DOS*/

.imagenUno_dos, .imagenDos_dos, .imagenTres_dos{
    background-color: white;
    width: 30%;
    height: 100%;
    overflow: hidden;
}
.imagenUno_dos div{
    background-image: url(../images/headset/Headset_4.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagenUno_dos div p{
    opacity: 0;
}
.imagenDos_dos div{
    background-image: url(../images/headset/Headset_5.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagenDos_dos div p{
    opacity: 0;
}
.imagenTres_dos div{
    background-image: url(../images/headset/Headset_6.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.imagenTres_dos div p{
    opacity: 0%;
}