@font-face {
    font-family: "BebasKai";
    src: url(../fonts/BebasKai.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
header{
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    background-color: white;
    
}
nav{
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    background-color: white;
    z-index: 1000;
}
.img-container{
    width: 10rem;
    display: flex;
    justify-content: left;
    align-items: center;
}

.img-container img{
    width: 100%;
    height:100%;
}
.medio{
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.medio ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.medio li{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    font-family: BebasKai;
}
.medio a{
    text-decoration: none;
    color: black;
    transition: 2s ease;
    position: relative;
}

.medio a::after{
      content: "";
      position: absolute;
      left: 0;
      bottom: -5px;
      width: 0%;
      height: 2px;
      background: #333;
      transition: width 0.3s ease;
}

.medio a:hover::after {
      width: 100%;
}

.final{
    width: 10rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.final a{
    width: fit-content;
    height: fit-content;
    display: flex;
    width: 20%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.final a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SeccionPortada{
    width: 100%;
    height: 85vh;
    background-image: url(../images/MCHOSE_Ace_68_Turbo_banner.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.SeccionPortada img{
    width: 200px;
    height: 220px;
}
.SeccionPortada h2{
    font-size: 14vw;
    font-family: BebasKai;
}.SeccionPortada h2 ~ p{
    font-size: 1.7vw;
    font-family: Bebaskai;
}
.SeccionUno{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-family: BebasKai;
}
.SeccionUno .textoSeccionUno{
    width: 80%;
    height: 20vh;
    color: rgb(19, 18, 18);
    margin-top: 40px;
    
}
.SeccionUno h3{
    font-size: 70px;
    text-decoration: underline;
    font-weight: normal;
}
.SeccionUno h3 ~ p{
    width: 60%;
    font-size: 18px;
}
.SeccionDos{
    width: 80%;
    height: 70vh;
}
.SeccionDos .imagenesSeccionDos{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imagenuno, .imagendos, .imagentres{
    width: 100%;
    height: 90%;
    width: calc(80% / 3);
    background-color: rgb(58, 6, 6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.terceraParte{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.terceraParte::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 45%;
    pointer-events: none;
    background-image:url(../images/Logoprueba.png);
    background-size:  auto 100% ;
    background-position: left center;
    background-repeat: no-repeat;
    opacity: 90%;
    filter: invert(100%);
    
}
.terceraParte div{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: rgb(19, 18, 18);
}
.terceraParte div h3{
    font-size: 100px;
    width: 60%;
    font-family: BebasKai;
    font-weight: normal;
    z-index: 1;
}
.terceraParte div p{
    font-size: 18px;
    font-family: BebasKai;
    width: 50%;
    text-align: start;
    z-index: 1;
}
.terceraParte .perfil{
    position: absolute;
    z-index: 0;
    opacity: 50%;
    width: 30vw;
    
}

/*Footer*/
h4{
    text-decoration: none;
    text-transform: none;
    text-overflow: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footertitle{
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.firstpartoffooter{
    width: 90%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.footer_agregado{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: BebasKai;
    font-size: 18px;
    color: white;
    background-color: black;
    
}
.footer_agregado p{
    font-size: 15px;
}
.footer_partone{
    width: 30%;
    height: 100%;
    padding: 40px;
    line-height: 1.5rem;
}
.footer_parttwo{
    width: 20%;
    height: 100%;
    padding: 40px;
    line-height: 2rem;
}
.footer_parttwo ul{
    list-style: none;
    
}
.footer_parttwo a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 15px;
    opacity: 0.6;
    transition: 0.2s;
}
.footer_parttwo a:hover{
    opacity: 1;
}
.footer_partthree{
    width: 20%;
    height: 100%;
    padding: 40px;
    line-height: 2rem;
}
.footer_partthree ul{
    list-style: none;
}
.footer_partthree a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 15px;
    opacity: 0.6;
    transition: 0.2s;
}
.footer_partthree a:hover{
    opacity: 1;
}
.footer_partfour{
    width: 30%;
    height: 100%;
    padding: 40px;
    line-height: 2rem;
}
.footer_partfour input{
    width: 20rem;
    height: 2rem;
    font-family: BebasKai;
    border-radius: 10px;
    margin: 0;
    padding-left: 10px;
}
.footer_partfour button{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background-color: white;
    font-family: BebasKai;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
}
.footer_partfour button:hover{
    background-color: aqua;
}
footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 15px;
    font-family: BebasKai;
    color: white;
    width: 100%;
    height: 10vh;
    padding-left: 30px;
}
footer > div{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}