

.SeccionPortada{
    width: 100%;
    height: 85vh;
    background-image: url(../images/index/Banner.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.SeccionPortada img{
    width: 200px;
    height: 220px;
}
.SeccionPortada h2{
    font-size: 14vw;
    font-family: BebasKai;
}.SeccionPortada h2 ~ p{
    font-size: 1.7vw;
    font-family: Bebaskai;
}
.SeccionUno{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    font-family: BebasKai;
}
.SeccionUno .textoSeccionUno{
    width: 80%;
    height: 20vh;
    color: rgb(19, 18, 18);
    margin-top: 40px;
    
}
.SeccionUno h3{
    font-size: 70px;
    text-decoration: underline;
    font-weight: normal;
}
.SeccionUno h3 ~ p{
    width: 60%;
    font-size: 18px;
}
.SeccionDos{
    width: 80%;
    height: 70vh;
}
.SeccionDos .imagenesSeccionDos{
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.imagenuno, .imagendos, .imagentres{
    width: 100%;
    height: 50%;
    width: calc(80% / 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;

}
.imagenuno img{
    max-width: 100%;
    height: auto;
}
.imagendos img{
    max-width: 100%;
    height: auto;
}
.imagentres img{
    max-width: 100%;
    height: auto;
}
.terceraParte{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.terceraParte::after{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 45%;
    pointer-events: none;
    background-image:url(../images/index/Logoprueba.png);
    background-size:  auto 100% ;
    background-position: left center;
    background-repeat: no-repeat;
    opacity: 90%;
    filter: invert(100%);
    
}
.terceraParte div{
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: rgb(19, 18, 18);
}
.terceraParte div h3{
    font-size: 100px;
    width: 60%;
    font-family: BebasKai;
    font-weight: normal;
    z-index: 1;
}
.terceraParte div p{
    font-size: 18px;
    font-family: BebasKai;
    width: 50%;
    text-align: start;
    z-index: 1;
}
.terceraParte .perfil{
    position: absolute;
    z-index: 0;
    opacity: 50%;
    width: 30vw;
    
}