
.SeccionPorta{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SeccionPortada{
    width: 90%;
    height: 75vh;
    background-image: url(../images/keyboard/Banner.webp);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 30px;
}
.SeccionPortada img{
    width: 200px;
    height: 220px;
}
.SeccionPortada h2{
    font-size: 14vw;
    font-family: BebasKai;
}.SeccionPortada h2 ~ p{
    font-size: 1.7vw;
    font-family: Bebaskai;
}
.SeccionUno{
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: BebasKai;
}
.SeccionUno .textoSeccionUno{
    width: 90%;
    height: 20%;
    color: rgb(19, 18, 18);
    margin-top: 40px;
}
.SeccionUno h3{
    font-size: 70px;
    text-decoration: underline;
    font-weight: normal;
}
.SeccionUno h3 > p{
    width: 60%;
    font-size: 18px;
}
.SeccionUnoImagen{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.imagenUno, .imagenDos, .imagenTres{
    background-color: white;
    width: 30%;
    height: 100%;
}
.imagenDos div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/MechanicalKeyboard_2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenDos div p{
    opacity: 0;
}
.imagenUno div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/MechanicalKeyboard_1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenUno div p{
    opacity: 0;
}
.linkeando{
    text-decoration: none;
    color: white;
    transition: 0.4s;
}
.linkeando > div{
    transition: all 0.5s ease;
    transition-duration: 0.3s;
    transform: translateY(-10px);
    opacity: 100%;
}
.linkeando:hover > div p{
    opacity: 100%;
} 
.imagenTres div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/MechanicalKeyboard_3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenTres div p{
    opacity: 0%;
}

/*PARTE DOS*/

.imagenUno_dos, .imagenDos_dos, .imagenTres_dos{
    background-color: white;
    width: 30%;
    height: 100%;
}
.imagenDos_dos div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/OpticalKeyboard_2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenDos_dos div p{
    opacity: 0;
}
.imagenUno_dos div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/OpticalKeyboard_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenUno_dos div p{
    opacity: 0;
}
.imagenTres_dos div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/OpticalKeyboard_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenTres_dos div p{
    opacity: 0%;
}

/*PARTE TRES*/

.imagenUno_tres, .imagenDos_tres, .imagenTres_tres{
    background-color: white;
    width: 30%;
    height: 100%;
}
.imagenDos_tres div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/MagneticKeyboard_2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenDos_tres div p{
    opacity: 0;
}
.imagenUno_tres div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/MagneticKeyboard_1.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenUno_tres div p{
    opacity: 0;
}
.imagenTres_tres div{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/keyboard/MagneticKeyboard_3.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.imagenTres_tres div p{
    opacity: 0%;
}









h4{
    text-decoration: none;
    text-transform: none;
    text-overflow: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footertitle{
    color: white;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}
.firstpartoffooter{
    width: 90%;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.footer_agregado{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: BebasKai;
    font-size: 18px;
    color: white;
    background-color: black;
    
}
.footer_agregado p{
    font-size: 15px;
}
.footer_partone{
    width: 30%;
    height: 100%;
    padding: 40px;
    line-height: 1.5rem;
}
.footer_parttwo{
    width: 20%;
    height: 100%;
    padding: 40px;
    line-height: 2rem;
}
.footer_parttwo ul{
    list-style: none;
    
}
.footer_parttwo a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 15px;
    opacity: 0.6;
    transition: 0.2s;
}
.footer_parttwo a:hover{
    opacity: 1;
}
.footer_partthree{
    width: 20%;
    height: 100%;
    padding: 40px;
    line-height: 2rem;
}
.footer_partthree ul{
    list-style: none;
}
.footer_partthree a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 15px;
    opacity: 0.6;
    transition: 0.2s;
}
.footer_partthree a:hover{
    opacity: 1;
}
.footer_partfour{
    width: 30%;
    height: 100%;
    padding: 40px;
    line-height: 2rem;
}
.footer_partfour input{
    width: 20rem;
    height: 2rem;
    font-family: BebasKai;
    border-radius: 10px;
    margin: 0;
    padding-left: 10px;
}
.footer_partfour button{
    margin-top: 20px;
    width: 100px;
    height: 30px;
    background-color: white;
    font-family: BebasKai;
    font-weight: normal;
    font-style: normal;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 10px;
    border-radius: 10px;
}
.footer_partfour button:hover{
    background-color: aqua;
}
footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-size: 15px;
    font-family: BebasKai;
    color: white;
    width: 100%;
    height: 10vh;
    padding-left: 30px;
}
footer > div{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}